.sign-up-container{
    border-radius: 10px;
    width: 450px;
    padding: 20px;
}
.signup-user-name-label{
    color: black;
    font-size: 20px;
    font-family: serif;
    font-weight: 500;
}

.signup-input-field{
    border-radius: 5px;
    font-family: roboto;
    width: 380px;
    height: 30px;
    border: none;
}
.heading{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Bree serif;
    font-weight: 600;
}

.button-container{
   text-align: right;
}

.signup-app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}