.sign-in-container{
    border-radius: 20px;
    width: 450px;
    height: 400px;
    padding: 20px;
    align-items: center;
}
.signin-app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signin-user-name-label{
    color: black;
    font-size: 25px;
    font-family: roboto;
    border: none;
}
.signin-input-field{
    border-radius: 5px;
    font-family: roboto;
    width: 380px;
    height: 40px;
    border: none;
}
.signin-heading{
    align-items: center;
    font-family: serif;
    font-weight: 600;
    font-size: 35px;
}

